<div id="facilities-index-page">
  <p id="notice"><%= notice %></p>
  <div data-controller="search-facilities">
  <div class="facilities-search-bar">
    <%= form_with url: facilities_path, method: :get, html:
      { class: '', data: { search_facilities_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Search facilities...',
                      value: params[:query],
                      data: {
                        search_facilities_target: 'searchInput',
                        action: "keyup->search-facilities#update"
                      } %>
    <% end %>
  </div>

  <h2>Facilities in the UK</h2>

  <div class="row">
    <div class="col-7">
      <%= render 'facilities/list' %>
    </div>
    <div class="col-5 map-wrapper">
      <div id="map"
      style="width: 100%; height: 95vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="pk.eyJ1IjoibmljazIzNDIzNDIiLCJhIjoiY2t0a21iMjZ4MW15djJvcGV6YTI5aWY5aiJ9.OZDeEP0MNwd2sAN-SQUUkg"></div>
    </div>
  </div>

  <br>

  <%= link_to 'New Facility', new_facility_path %>
  </div>
</div>
