<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @facility.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @facility.rating %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @facility.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @facility.longitude %>
</p>

<p>
  <strong>Price:</strong>
  <%= @facility.price %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @facility.summary %>
</p>

<p>
  <strong>Facility type:</strong>
  <%= @facility.facility_type %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @facility.organisation_id %>
  <%= link_to 'Show', organisation_path(@facility.organisation_id) %>
</p>

<%= link_to 'Edit', edit_organisation_facility_path(:organisation_id, :facility)  %> |
<%= link_to 'Back', facilities_path %>
