<!DOCTYPE html>
<html>
  <head>
    <title>GroundPass: The Easiest Way to Book Sports Facilities</title>
    <meta name="Description" CONTENT="Discover, book and experience the best sports facilities around with GroundPass. Or manage your bookings the easy way.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'application/favicon' %>
   <link rel="preload" href="CircularStd-Black.woff2" as="font" type="font/woff2" crossorigin>
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
   <script>
      AOS.init();
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/bottom-nav' %>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
